*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: wheat;
  }
ul {
    list-style: none;
  }
a {
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
    transition: 1s;
  }
  .container {
    width: 95%; /* Adjusts the width of the container */
    margin: 0 auto; /* Centers the container horizontally */
    padding: 7px; /* Adds space inside the container */
  }
  
.navbar{
  background-color: rgb(32, 71, 91);
  color: white;
}
.list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 15px;
}
li {
    font-size: 20px;
    font-weight: 600;
    font-family: "Gill Sans";
    justify-content: right;
}
.list li:hover {
    transform: scale(1.2);
    color: bisque;
}
.main{
    display: flex;
    justify-content: space-between;
}
.main h1 {
    font-size: 70px;
    font-family: "Times New Roman";
    color: rgb(44, 19, 19);
    text-align: left;
}
.bton{
    margin-top: 1rem;
  }

button{
    color: white;
    background: rgb(32, 71, 91);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-size: 20px;
  }
button a {
    text-decoration: none;
  }
button:hover{
    transform: scale(.9);
    color:wheat;
    background: rgb(1, 29, 43);
}
.about {
    scroll-behavior: smooth;
    transition: 1s;
}
.center{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}
h1{
    text-align: center;
    color: rgb(44, 19, 19);
}
.box1{
    background-color:rgb(32, 71, 91) ;
     padding: 15px;
    border-radius: 10px;
    border: none;
    width: 60%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    color:white;
    font-size: 20px;
    transform: scale(.9);
  }
.box1:hover{
    color:white;
    background: rgb(3, 59, 88);
    transform: scale(1);
    transition: .5s;
}
.qualification .box2{
    background-color:rgb(32, 71, 91) ;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    width: 60%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    color:white;
    text-align: justify;
    font-size: 20px;
    gap: 2rem;
    margin-top: 1rem;
    transform: scale(.9);
  }
  .box2:hover{
    color:white;
    background: rgb(3, 59, 88);
    transform: scale(1);
    transition: .5s;
}
.skill-btn{
    padding: 8px;
    background: rgb(32, 71, 91);
    color: white;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 15px;
    width:200px;
    margin-top: 1rem;
}
.skill-btn h3{
    color:rgb(220, 232, 124);
    text-align: center;
    font-size: 20px;
}
.skill-btn:hover{
    transform: scale(1.1);
    color: white;
}
.skill-btn:hover h3 {
      color: wheat; /* Changes the h3 color to white on hover */
}
    
.skill-btn:hover p {
      color: rgb(220, 232, 124); /* Changes the description color to green on hover */
}
.flex{
    display: flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
}
#contact{
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 1rem;
}
.box {
    background-color:whitesmoke ;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #2eb2d7;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    color:rgb(32, 71, 91);
}
.icons{
      margin-top: 10px;
      width:30px;
      justify-content: space-around;
}
.icons:hover{
      transform: scale(.9);
    }

    @media (max-width:768px) {
      .main{
        display: block;
      }
      ul li {
        display: none;
      }
      }